* {
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
}

/* 
font-family: 'Gluten', cursive;
*/

body {
    font-family: 'Gluten', sans-serif;
}

.game-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5em;
    height: 100vh;

    border: 1px solid black;

}

h1 {
    font-size: 7rem;
}

h3 {
    font-size: 1.5rem;
}

.game-title button {
    margin-top: 5em;

    padding: 1.5em 3em;
    font-size: 1.10rem;
    font-family: Helvetica, sans-serif;
    font-weight: bold;

    border: none;
    border-radius: 0.75em;
    cursor: pointer;

    background-color: rgba(168, 79, 79, 0.79);
    color: white;
}

.game-title button:hover {
    background-color: rgba(71, 156, 71, 0.775);
}



.game-background {
    height: 100vh;
    background-image: url(imgs/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    background-position-y: bottom;

    display: flex;
    justify-content: center;
    align-items: center;

}

.hidden {
    display: none;
}

/* Game */
.game-container {
    width: 50%;
    border: 2px solid black;
    border-radius: 7px;
    height: 600px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2px;
    background-color: transparent;

    margin-top: 7em;
    
}

.game-container > div {
    background-image: url(imgs/hole.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
    background-position: center;
}
